html,
body,
#app{
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden;
    min-width: 1100px; */
}
.el-breadcrumb{
    margin-bottom: 12px;
}
/* 
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination{
    margin-top: 15px;
}
.el-cascader-menu{
    height: 300px;
  }
  .el-steps{
    margin: 15px 0 ;
}
.el-step__title{
    font-size: 12px;
}
.ql-editor{
    min-height: 300px;
} */